<h1 class="text-4xl">Hello <%= current_user.first_name %></h1>

<ul>
<% @members.each do |member| %>
  <li><%= member.first_name %> - <%= member.last_name %> - <%= member.email %></li>
<% end %>
<br>
<%= link_to "New Member", new_user_member_path(current_user), class: 'inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>